{% extends "base.html" %}

{% block analytics %}
{% if config.google_analytics %}
  {% include "partials/integrations/analytics.html" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JWL5Y1W90"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1JWL5Y1W90');
  </script>
  <script data-ad-client="ca-pub-3680148472128768" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
{% endblock %}